.body1{
    background: url(https://images.unsplash.com/photo-1608178398319-48f814d0750c?q=80&w=1479&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
 
    height: 105vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
    box-sizing: border-box;
}
.hdng{
    font-size:100px;
    
    background: url(https://www.chromethemer.com/wallpapers/chromebook-wallpapers/images/960/warped-space-chromebook-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
    color:transparent;
    -webkit-text-stroke: 0.5px cyan;
    margin-top: 50px;
    
   
}
.content{
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.404);
    border-radius: 40px;
}
.cc{
    background-color: rgba(0, 0, 0, 0.521);
    mix-blend-mode:normal;
    border-radius: 30px;
    height: 70vh;
    width: 30vw;
    margin: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

}

.ccc{
    padding: 5px;
}

.cch{
    font-size: x-large;
    color:white;

     font-style: italic;
     font-weight:900;
}
.ccd{
    width: 60%;
    animation: float 3s linear infinite;
   background-color: rgba(0, 0, 0, 0.445) ;
    font-size: larger;
    border-radius: 10px;
}
.ccb{
    width: 100px;
    height: 30px;
    background-image: linear-gradient(to right,purple ,rgb(211, 90, 211), cyan );
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
    color: white;

}
.linkh{
    color: white;
}
.ccb:hover{
    background-image: none;
    background-color: cyan;
    
    transform: scale(0.9);
}
.linkh:hover{
    ccolor: blueviolet;
}
.ccb:active{
    transform: scale(0.7);
}

.apod{
    background-image: url(https://wallpapers.com/images/hd/colorful-planets-4k-space-erd5m7yzj9vpox9r.webp);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.image{
    background-image: url(https://wallpapers.com/images/hd/dark-blue-hd-4k-space-sxgcbtrmn5jb9xno.webp);
    background-size: cover;
    background-repeat: no-repeat;
   
}





@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px); 
    }
    100%{
        transform: translateY(0px);
    }
    
}

@media (max-width:768px) {
    .ccd{
        display: none;
    }
    .content{
        height: 600px;
        flex-direction: column;
    }

    .cc{
        height: 300px;
        min-width: 300px;
        padding: 10px;
    }

    .ccb{
       bottom: 0;
    }
    .hdng{
        font-size: 50px;
        margin-bottom: 30px;
    }


}